/* VARIABLES */
:root {
    --color-first: #200F20;
    --color-second: #382038;
    --color-third: #FC6FFC;
    --color-font: #edf4f5;
}

/* BACKGROUND */
body {
    background-color: var(--color-first);
}

.light-bg {
    background-color: var(--color-second);
}

.dark-bg {
    background-color: var(--color-first);
}


/* TEXT */
* {
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: var(--color-font);
}

h1 {
    text-align: center; 
    font-size: 64px;
    font-weight: normal;
    margin: 0;
    padding: 50px 30px 0 30px;
}

p {
    text-align: justify;
    font-size: 24px;
}


/* NAVIGATION MENU */

.interface {
    display: flex;
    justify-content: space-between;
    margin: 15px 35px;
    align-items: center;
}

.logo img {
    width: 40px;
    height: auto;
}

.menu-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
}

.menu-nav a {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    &:hover:not(buttonCV) {
        color: var(--color-third);
    }
}

#buttonCV {
    background-color: var(--color-third);
    padding: 14px 18px 14px 18px;
    border-radius: 30px;
    color: var(--color-first);
    transition: .2s ease-in-out 0s;
    &:hover {
        transform: scale(1.08); 
    }
}

/* HEADER */

.welcome-quote {
    font-size: 40px;
}

.header-container {
    margin: 40px 40px 40px 40px;
}

.quote-p1 {
    margin-left: 200px;
}

.quote-p2 {
    margin-left: 300px;
    margin-top: 40px;
}

.quote-p3-container {
    width:fit-content;
    border: 2px dashed var(--color-third);
    padding: 10px;
    margin-left: 500px;
    margin-top: 50px ;
}

.quote-p3 {
    color: var(--color-first);
    font-weight: 400;
    padding: 15px;
    &:hover {
        color: var(--color-third);
    }
}

.skills img, contact img {
    width: 15%;
    height: auto;
}

/* ABOUT */
.about-content {
    padding: 20px;
}

/* SKILLS */


/* CONTACT */